<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="log/console.xml" />
    <include resource="log/file.xml" />

    <logger name="com.example.fileuploaddemo" level="debug" addivitity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <springProfile name="local">
            <appender-ref ref="console"/>
        </springProfile>
    </root>
</configuration>
